<div class="fBar">
  <div class="leftBar">
    <ul class="fBarList">
      <li class="fBarItem"><a href="#" class="fBarLink">{{lLink[0]}}</a></li>
      <li class="fBarItem"><a href="#" class="fBarLink">{{lLink[1]}}</a></li>
      <li class="fBarItem"><a href="#" class="fBarLink">{{lLink[2]}}</a></li>
    </ul>
  </div>
  <div class="rightBar">
    <ul class="fBarList">
      <li class="fBarItem"><a href="#" class="fBarLink">{{rLink[0]}}</a></li>
      <li class="fBarItem"><a href="#" class="fBarLink">{{rLink[1]}}</a></li>
      <li class="fBarItem"><a href="#" class="fBarLink">{{rLink[2]}}</a></li>
      <li class="fBarItem"><a href="#" class="fBarLink">{{rLink[3]}}</a></li>
    </ul>
  </div>
</div>
