<div class="langBarDiv">
  {{str}}
  <ul class="langList">
    <li class="langListItem"> <a href="#" class="langLink">{{link[0]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[1]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[2]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[3]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[4]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[5]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[6]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[7]}}</a></li>
    <li class="langListItem"> <a href="#" class="langLink">{{link[8]}}</a></li>
  </ul>
</div>
