.langBarDiv {
  line-height: 28px;
  font-size: 13px;
  text-align: center;
  font-family: arial,sans-serif;;
}

.langList {
  list-style-type: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

.langListItem {
  display: inline-block;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.langLink {
  display: inline;
  text-decoration:none;
  margin-left: auto;
  margin-right: auto;
}

.langListItem:hover {
  text-decoration: underline;
}
